.banda{
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.banda::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(imagens/fundoGranulado\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;

}

  .Roger{
 
  }
  .RichardWright{


  }
.ImagemIntegrante{
  left: 0vw;
  width: 43vw;
  height: 21vw;
  position: relative;
  z-index: 9;

}

.NomeIntegrante{
  position: absolute;
  color: var(--claro);
    font-size: 3.5rem;
    font-weight: 600;
    left: 2vw;
    z-index: 10;
    
}
.TextoIntegrante{
  position: absolute;
  margin-top: 5vw;
  right: 1vw;
  color: var(--claro);
    font-size: 1.2rem;
    font-weight: 300;
    width: 52%;
    z-index: 11;
}

.SydBarrete{
  margin-top: 4vw;
  margin-bottom: 1vw;
}

.NickManson{

  margin-top: 4vw;
  margin-bottom: 1vw;
}

.ImagemIntegrante2{
right: 1vw;
  width: 43vw;
  height: 21vw;
  position: absolute;
  z-index: 9;

}

.NomeIntegrante2{
  position: absolute;
  color: var(--claro);
    font-size: 3.5rem;
    font-weight: 600;
    right: 2vw;
    z-index: 10;
    
}
.TextoIntegrante2{
  position: absolute;
  margin-top: 5vw;
  left: 1vw;
  color: var(--claro);
    font-size: 1.2rem;
    font-weight: 300;
    width: 52%;
    z-index: 11;
}
  .marcaPagina23{
    z-index: 666;
    position: absolute;
    font-size: 3.5rem;
    right: 2vw;
    color: var(--claro);

  }

@media (max-width:768px) {


}