.discografia{

    width: 100%;
    height: 100vh;
   
    
}

.discografia::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(imagens/FundoDiscografia\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

}
.discografiaLogo{
    position: absolute;
    border-right: thick solid antiquewhite;   
    left: 2vw;
    top: 5%;
    color: rgb(255, 251, 247);
  font-family: 'Abril Fatface', cursive;
  position: relative;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 500%;
}
<style> @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); </style>