.home{
    width: 100%;
    height: 100vh;

}
.home::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(imagens/homePink\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.Logo{

 
    position: relative;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 670%;
    font-family: 'Inter Tight', sans-serif;
    color: antiquewhite;
    left: 0.2vw;

}

.PINKYFLOYD{
    
    position: absolute;
    border-right: thick solid antiquewhite; 
    border-left: thick solid antiquewhite; 
   left: 10vw;

}

.sublogo{
    top: 87vh;
    left: 9.5vw;
    position: absolute;
    font-size: 1.6vw;
    font-family: 'Inter', sans-serif;
    color: antiquewhite;

}

