:root{

    font-size: 15px;
   
    

}

html{

    scroll-behavior: smooth;
    
    }



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

ol, ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    display: grid;
    grid-template-areas: "conteudo1";                    
    margin: 0;
    padding: 0px;
    overflow-x: hidden; 
}

header{

    
    grid-area: conteudo1;
    height: 40px;
    width: 100%;

}


main{
    
    grid-area: conteudo1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

footer{

    
    height: 100px;
    width: 100%;

    background: rgb(255, 0, 0);
}


