body{

grid-area: content;

}

header{
background-color: brown;
height: 40px;
width: 100%;

}

main{
background-color: burlywood;
}

footer{
    background-color: cadetblue;
    height: 40px;
    width: 100%;

}

